h1 {
  color: red;
  background-color: purple;
  text-align: center;
}

p {
  background-color: blue;
  color: yellowgreen;
  font-size: larger;
}

h3 {
  text-align: center;
  color: brown;
  background-color: pink;
}
